@charset "UTF-8";

body {
    font: 14px/18px normal sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 20px;
    background-color: #f2e4cf;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    color: #5c565c;
}

#wrapper {
    text-align: center;
}
#letterCont {
    border: 1px solid #464646;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    }
    #letterCont button {
        margin: 10px;
        font-size: 2em;
        padding: 10px;
    }

#phraseCont {
    margin: 20px;
    padding: 10px;
    text-align: center;
    }
    .phraseLetter{
        font-size: 2em;
        color: #54393e;
        width: 1.5em;
        text-align: center;
        display: inline-block;
        border: 1px solid #464646;
        border-radius: 5px;
        padding: 20px;
        margin: 10px 5px;
        background-color: #FFFFFF;
    }

#checkBtn {
    font-size: 1.8em;
}

#statCont {
    font-size: 1.4em;
    color: #54393e;
    margin:5px;
}
.hidden{
    display:none;
}
.incorrect{
    color:red !important;
}
.correct{
    color:green !important;
    
}
.check{
    font-size: 1.8em;
    margin:5px;
}
.position{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}